@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  background:#eef2f5;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.nav-list {
  background: #eef2f5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin 0;
  padding: 1rem 0;
  border-radius: 0.2rem;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.nav-item a {
  font-family: Roboto;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #555;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: black;
}

main a{
  text-decoration: none;
  color: #1781c2;
}

main a:hover{
  text-decoration: underline;
}

footer {
}

button.btn-primary {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 0.7rem;
  background: #1da1f2;
  color: white;
  font-size: 1.25rem;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 200ms ease;
}

button.btn-primary:hover {
  background: #1781c2;
}

h1 {
  font-family: Jura;
  font-weight: 700;
  text-align: center;
  font-size: 4rem;
}

input[type=text] {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 10px;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

input[type=password] {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 10px;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

form {
  display: inline-block;
  justify-content: center;
}

.album-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.album-item {
  list-style: none;
}