body {
  font-family: Helvetica;
  background: #eee;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.nav-list {
  background: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin 0;
  padding: 1rem 0;
  border-radius: 0.2rem;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: #555;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: black;
}

main a{
  text-decoration: none;
  color: black;
}

footer {
  background: blue;
}