@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Roboto:wght@300;400&display=swap');


html, body {
  font-family: Roboto, sans-serif;
  background-image: linear-gradient(to bottom right, #cebfbb, white);
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}


footer {
  font-size: 1.3rem;
  padding-top: 20px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: #444;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  transition: all 200ms ease;
}

.nav-item a:hover {
  color: black;
}

.blue-links {
  text-decoration: none;
  color:#333;
}

.blue-links:hover{
  text-decoration: underline;
}

button.btn-primary {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 0.7rem;
  background: #948ead;
  color: white;
  font-size: 1.25rem;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 200ms ease;
}

button.btn-primary:hover {
  background: #645c80;
}

h1 {
  font-family: Jura;
  font-weight: 700;
  text-align: center;
  font-size: 4rem;
}

h2 {
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
}

input[type=text], input[type=password] {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 10px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  width: 30%;
}

.input-form {
 display: block;
 text-align: center;
 padding: 10px;
}

.album-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 0.5rem;
  justify-items: center;
  margin: 0 100px;
  padding: 0;
}

.album-item {
  list-style: none;
  position: relative;
}

.album-item-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.album-item:hover .text-block {
  visibility: visible;
  opacity: 0.7;
}

.text-block {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  color: white;
  background: black;
  visibility: hidden;
  transition: opacity 200ms ease;
  opacity: 0;
}

.text-block h4 {
  font-size: 2rem;
  font-family: Jura, sans-serif;
}

.album-art {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.list-artist {
  list-style: none;
}
.list-artist-name {
  text-align: left;
  font-family: Jura;
}

.list-albums {
  list-style: none;
}

.list-album-name {
  text-align: left;
  list-style: none;
}

.list-album-name a {
  text-decoration: none;
  color: #555;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  transition: all 200ms ease;
}

.list-album-name a:hover {
  color: black;
}

.flash-message {
  background: #EFB593;
  color: #333;
  padding: 15px;
  border-radius: .75rem;
}

#logo {
  width: 65%;
  height: 65%;
}