<h1>Log In</h2>
<form method="post" action="/login" class="form-box">
  <input type="text" id="username" name="username" placeholder="username"><br>
  <input type="password" id="password" name="password" placeholder="password"><br>
  <button class="btn-primary" type="submit">Log In</button><br><br>

  <a href="/signup">need to sign up? click here!</a>
