<h1>Welcome to RecordCo//ection</h1>
<h1>Log In</h2>
<form class="input-form" method="post" action="/login" class="form-box">
  <input type="text" id="username" name="username" placeholder="username"><br>
  <input type="password" id="password" name="password" placeholder="password"><br><br>
  <button class="btn-primary" type="submit">Log In</button><br><br>

  <a class="blue-links" href="/signup">need to sign up? click here!</a>
