<% if session[:error] %>
  <h2><%= session[:error] %></h2>
<% end %>

<h1>Sign Up</h2>
<form class="input-form" method="post" action="/signup">
  <input type="text" id="username" name="username" placeholder="username"><br>
  <input type="password" id="password" name="password" placeholder="password"><br><br>
  <button class="btn-primary" type="submit">Sign Up</button><br><br>

  <a class="blue-links" href="/login">already signed up? click here to log in!</a>