<ul>
  <% current_user.artists.uniq.sort_by(&:name).each do |artist| %>
    <li class="list-artist"><h2 class="list-artist-name"><%=artist.name%></h2></li>
      <ul>
        <% artist.albums.sort_by(&:year_released).each do |album| %>
          <% if album.user_id == current_user.id %>
            <li class="list-albums"><h3 class="list-album-name"><a href="/albums/<%=album.id%>"><%=album.name%></h3></a></li>
          <% end %>
        <% end %>
      </ul>
  <% end %>
</ul>

<br>
<br>

<button class="btn-primary" onclick="location.href='/albums/new'">Add Album to Collection</button>