<h1>Add an Album to Your Collection</h1>

<form class="input-form" method="post" action="/albums">
  <input type="text" name="name" placeholder="Album Name"><br>
  <input type="text" name="artist" placeholder="Artist Name"><br>
  <input type="text" name="year_released" placeholder="Year Released"><br>
  <input type="text" name="genre" placeholder="Genre"><br>
  <input type="text" name="notes" placeholder="Notes"><br><br>
  <button class="btn-primary" type="submit" name="submit">Add Album</button>
</form>