<h1><%=@album.name %></h1>
<h2>by <%=@album.artist.name%></h2>
<h3>year released: <%=@album.year_released%></h3>
<h3>genre: <%=@album.genre%></h3><br><br>

<button><a href="/albums">Back to Your Collection</a></button>