<h1>Welcome to RecordCo//ection</h1>

<button onclick="location.href='/login'" type="button" class="btn-primary">Log In</button>
<p><a class="blue-links" href="/signup">if you need to register, click here to sign up</a>