<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RecordCollection</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <div class="container">
    <nav>
      <ul class="nav-list">
        <% if !logged_in? %>
        <li class="nav-item"><img id="logo" src="/images/logo.png" /></li>
        <li class="nav-item"><a href="/login">Log In</a></li>
        <li class="nav-item"><a href="/signup">Sign Up</a></li>
        <% else %>
        <li class="nav-item"><img id="logo" src="/images/logo.png" /></li>
        <li class="nav-item"><a href="/albums">View Album Gallery</a></li>
        <li class="nav-item"><a href="/albums/list">View Album List</a></li>
        <li class="nav-item"><a href="/albums/new">Add Album</a></li>
        <li class="nav-item"><a href="/logout">Log Out</a></li>
        <% end %>
      </ul>
    </nav>
    <main>
      <% flash.keys.each do |type| %>
        <div data-alert class="flash-<%= type %>">
          <%= flash[type] %>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <footer>
      <small>&#169;</small> 2021 <strong>RecordCollection</strong>
    </footer>
  </div>
</body>
</html>